@import './variables'

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  background-color: $darkBlue
  font-family: $font
  font-size: 10px
  .app-container
    max-width: 1200px
    height: 100vh
    margin: 0 auto
    display: flex
    align-items: center
    flex-direction: column
