// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap')

$font: 'Poppins', sans-serif
$thin: 300
$regular: 400
$bold: 600
$veryBold: 800

// colors
$darkBlue: #2f2e41
$softBlue: #9998b1
$aqua: #00bfa6
$gray: #f5f5f5
$salmon: #ff6584
