@import '../../style/sass/variables'

.land-page-wrapper
  width: 75%
  height: 40rem
  margin-top: 5rem
  display: flex
  flex-direction: column
  align-items: center
  .land-page-image
    width: 100%
    height: 800px
    background-image: url(../../images/home_cinema.svg)
    background-size: 45%
    background-repeat: no-repeat
    background-position: center
  h2
    color: $salmon
    font-size: 5rem
