@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #2f2e41;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

html .app-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dash {
  height: .3rem;
  width: 5rem;
  background-color: #ff6584;
  margin-bottom: 2rem;
}

form {
  position: relative;
  width: 75%;
}

form label {
  position: absolute;
  color: #9998b1;
  font-size: 1.4rem;
  text-transform: uppercase;
  top: 5rem;
  left: 1rem;
  letter-spacing: .2rem;
  -webkit-transition: font-size .3s, top .3s;
  transition: font-size .3s, top .3s;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

form .input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  margin: 4rem 0;
  border: none;
  border-bottom: 1.5px solid #ff6584;
  z-index: 1;
}

form .delete-input-data {
  color: #ff6584;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 4.8rem;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

form .show {
  opacity: 1;
}

form .up {
  top: 3.2rem;
  font-size: .8rem;
}

.land-page-wrapper {
  width: 75%;
  height: 50rem;
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.land-page-wrapper .land-page-image {
  width: 100%;
  height: 800px;
  background-image: url(../../images/home_cinema.svg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.land-page-wrapper h2 {
  margin-top: 4rem;
  color: #f5f5f5;
  font-size: 5rem;
}

.land-page-wrapper span {
  color: #ff6584;
}

header {
  width: 22rem;
  height: 4rem;
  background-color: #ff6584;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 5rem;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  position: relative;
  color: #f5f5f5;
  font-size: 1.4rem;
  width: 33%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li .nav-link {
  text-decoration: none;
  height: 2rem;
}

header ul li .nav-link:visited {
  color: #f5f5f5;
}

header ul li .line-through {
  text-decoration: line-through;
}

header ul li .fav-circle {
  position: absolute;
  cursor: pointer;
  top: 1.6rem;
  left: calc(((22rem / 3) - 5.2rem) / 2);
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #2f2e41;
  border-radius: 50%;
  background-color: #f5f5f5;
  background-image: url(../../images/heart-full-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

aside {
  position: fixed;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 50%;
  right: -7rem;
}

aside p {
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 300;
  color: #f5f5f5;
}

aside p #heart, aside p #name {
  color: #ff6584;
}

.movies-list {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (20rem)[4];
      grid-template-columns: repeat(4, 20rem);
}

.movies-list .no-data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 2 / span 4;
}

.card-link {
  text-decoration: none;
}

.card-link img {
  width: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.card-link .heart-full {
  display: none;
}

.card-link .view {
  display: block;
}

.card {
  width: 20rem;
  height: 27rem;
  background-color: #fff;
  margin: 1rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0.3rem 0.35rem rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0.3rem 0.35rem rgba(0, 0, 0, 0.75));
}

.card:hover > .movie-info {
  opacity: 100%;
}

.card .movie-info {
  background-color: rgba(37, 36, 38, 0.8);
  border-bottom: 2px solid #ff6584;
  height: 27rem;
  color: white;
  opacity: 0;
  -webkit-transition: .35s;
  transition: .35s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  position: relative;
}

.card .movie-info h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.card .movie-info p {
  font-size: 1.2rem;
  font-weight: 300;
}

.back-home-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-home-link .back-home-img {
  width: 3rem;
}

.back-home-link .back-home-span {
  font-size: 1.4rem;
  color: #f5f5f5;
  margin-left: 2rem;
}

.movie-details-container {
  width: 100%;
  padding: 5rem 0;
}

.movie-data-container {
  margin-top: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5f5f5;
}

.movie-data-container .movie-info-container {
  width: 50%;
}

.movie-data-container .movie-info-container .movie-info {
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
  margin: 3.5rem 0;
}

.movie-data-container .movie-info-container .movie-info .plot {
  grid-column: span 3;
}

.movie-data-container .movie-info-container .title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #9998b1;
}

.movie-data-container .movie-info-container .text {
  font-size: 1.4rem;
  color: #f5f5f5;
}

.movie-data-container .movie-info-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-data-container .movie-info-container ul li {
  padding-right: 1.2rem;
  color: #9998b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-data-container .movie-info-container ul .favorite-container .bg-heart {
  cursor: pointer;
  width: 4rem;
  height: 3.5rem;
  border-radius: .3rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.movie-data-container .movie-info-container ul .favorite-container .bg-heart:hover {
  background-color: #FF4040;
  background-image: url(../../images/heart-full.svg);
  border: 1px solid #FF4040;
}

.movie-data-container .movie-info-container ul .favorite-container .fav {
  background-color: #FF4040;
  background-image: url(../../images/heart-full.svg);
  border: 1px solid #FF4040;
}

.movie-data-container .movie-info-container ul .favorite-container .not-fav {
  background-color: transparent;
  background-image: url(../../images/heart-grey.svg);
  border: 1px solid #9998b1;
}

.movie-data-container .movie-info-container ul .favorite-container .favorite-button {
  cursor: pointer;
  background-color: transparent;
  width: 4rem;
  height: 3.5rem;
  border: 1px solid #9998b1;
  border-radius: .3rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.movie-data-container .movie-info-container ul .favorite-container .favorite-button:hover {
  background-color: #FF4040;
  border: 1px solid #FF4040;
}

.movie-data-container .movie-info-container ul .movie-rate {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #f5f5f5;
  color: #2f2e41;
  padding: .4rem;
  border-radius: .3rem;
  text-align: center;
}

.movie-data-container .movie-info-container ul .rating-container {
  width: 10rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
}

.movie-data-container .movie-info-container ul .rating-container .icon {
  width: 4.5rem;
  height: 100%;
  border-radius: .5rem 0 0 .5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.movie-data-container .movie-info-container ul .rating-container .rating {
  border-top: 1px solid #9998b1;
  border-right: 1px solid #9998b1;
  border-bottom: 1px solid #9998b1;
  border-radius: 0 .5rem .5rem 0;
  width: 5.5rem;
  padding: .75rem 0;
  color: #f5f5f5;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.15rem;
}

.movie-data-container .movie-info-container ul .rating-container .imdb {
  border: 1px solid #FF9F1C;
  background-color: #FF9F1C;
  background-image: url(../../images/logo-imdb.svg);
}

.movie-data-container .movie-info-container ul .rating-container .rotten-tomatoes {
  border: 1px solid #FF4040;
  background-color: #FF4040;
  background-image: url(../../images/logo-rotten-tomatoes.svg);
  background-size: 40%;
}

.movie-data-container h1 {
  font-size: 5rem;
  font-weight: 800;
  margin: 3.5rem 0;
}

.movie-data-container .movie-poster-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.movie-data-container .movie-poster-container .movie-poster img {
  width: 40rem;
  border-radius: 1rem;
  -webkit-filter: drop-shadow(0 0.3rem 0.4rem black);
          filter: drop-shadow(0 0.3rem 0.4rem black);
}

.no-results-wrapper {
  height: 400px;
  width: 60%;
  padding: 5rem;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.6));
  margin: 22rem auto;
  border-radius: 5rem 0;
}

.no-results-wrapper .bg-image {
  width: 65rem;
  height: 100%;
  background-image: url(../../images/web_search.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-results-wrapper .bg-image .dash {
  height: .3rem;
  width: 5rem;
  background-color: #ff6584;
  margin-bottom: 2rem;
}

.no-results-wrapper .bg-image h2 {
  color: #ff6584;
  font-size: 7rem;
}

.no-results-wrapper .bg-image p {
  color: #2f2e41;
  font-size: 1.6rem;
  line-height: 2rem;
}

.wrapper {
  height: 40rem;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.6));
  margin: 36rem auto;
  border-radius: 5rem 0;
  overflow: hidden;
}

.wrapper .image {
  width: 50%;
  height: 100%;
  background-image: url(../../images/not_found.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
}

.wrapper .info {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .info h2 {
  color: #ff6584;
  font-size: 7rem;
  margin-bottom: 2rem;
}

.wrapper .info p {
  color: #2f2e41;
  font-size: 1.6rem;
  line-height: 2rem;
}

.wrapper .info button {
  margin-top: 4rem;
  background-color: #ff6584;
  border: none;
  padding: .75rem 3rem;
}

.wrapper .info button .home-link {
  color: #fff;
  text-decoration: none;
}

.spinner {
  margin: auto;
  -webkit-animation: rotator 1.5s linear infinite;
          animation: rotator 1.5s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.5s ease-in-out infinite, colors 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, colors 6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 25;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 25;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.about-container {
  margin-top: 5rem;
  border-radius: 8rem 0;
  width: 90%;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .bg-about {
  width: 50%;
  height: 60rem;
  background-image: url(../../images/web_developer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
}

.about-container .info-about {
  width: 50%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container .info-about h2 {
  color: #ff6584;
  font-size: 4.5rem;
}

.about-container .info-about p {
  color: #2f2e41;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
}

.about-container .info-about p a {
  color: #ff6584;
}

.about-container .info-about p a:visited {
  color: #ff6584;
}
/*# sourceMappingURL=main.css.map */