@import '../../style/sass/variables'

form
  width: 75%
  .input
    width: 100%
    padding: 1rem
    font-size: 1.8rem
    color: #fff
    background-color: $darkBlue
    outline: none
    margin: 4rem 0
    border: none
    border-bottom: 1.5px solid $salmon
    &::placeholder
      color: $salmon
